<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header" [ngClass]="{'is-search': IS_SEARCH}">
        <div class="mdl-layout__header-row" *ngIf="!IS_SEARCH">
            <span class="mdl-layout-title">{{Title}}</span>
            <div class="mdl-layout-spacer"></div>
            <label class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" (click)="setSearch(true)">search</i>
            </label>
        </div>
        <div class="mdl-layout__header-row search-header" *ngIf="IS_SEARCH">
            <label class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" (click)="setSearch(false)">keyboard_backspace</i>
            </label>
            <div class="mdl-textfield mdl-js-textfield search-field">
                <input class="mdl-textfield__input" type="text" id="searchTxt">
                <label class="mdl-textfield__label" for="searchTxt">검색</label>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{Title}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#">내 재생목록</a>
        </nav>
    </div>
    <main class="app-main mdl-layout__content">
        <my-player></my-player>
        <my-list></my-list>
    </main>
    <footer>
        <div class="footer-edit" *ngIf="FTR == 1">
            <div class="edit-btn edit-put">
                <div>
                    <i class="edit-icon material-icons">add</i>
                </div>
                <span class="edit-title">담기</span>
            </div>
            <div class="edit-btn edit-del">
                <div>
                    <i class="edit-icon material-icons">delete</i>
                </div>
                <span class="edit-title">삭제</span>
            </div>
        </div>

        <div class="footer-menu" *ngIf="FTR == 2">
            <div class="menu-header">
                <span class="menu-title">담기</span>
                <label class="mdl-button mdl-js-button mdl-button--icon store-close">
                    <i class="material-icons">clear</i>
                </label>
            </div>
            <hr>
            <div class="menu-list">
                <ul class="mdl-list">
                    <li *ngFor="let menu of menus" class="mdl-list__item mdl-list__item--one-line">
                        <span class="menu-title">
                            <i class="material-icons" *ngIf="menu.ICON.TITLE.length > 0">{{menu.ICON.TITLE}}</i>
                            {{menu.TITLE}}
                        </span>
                        <span class="menu-btn" *ngIf="menu.CONT.length > 0">
                            <i class="material-icons" *ngIf="menu.ICON.CONT.length > 0">{{menu.ICON.CONT}}</i>
                            {{menu.CONT}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-play" *ngIf="FTR == 3">
            <img class="thumnail" />
            <label class="mdl-button mdl-js-button mdl-button--icon play-icon md-48">
                <i class="material-icons md-48">skip_previous</i>
            </label>
            <label class="mdl-button mdl-js-button mdl-button--icon play-icon md-48">
                <i class="material-icons md-48">play_arrow</i>
            </label>
            <label class="mdl-button mdl-js-button mdl-button--icon play-icon md-48">
                <i class="material-icons md-48">skip_next</i>
            </label>
        </div>
    </footer>
</div>

<div class="bg" *ngIf="FTR > 0"></div>