<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{Title}}</span>
            <div class="mdl-layout-spacer"></div>
            <label class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" (click)="searchMode(true)">search</i>
            </label>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{Title}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#">내 재생목록</a>
        </nav>
    </div>
    <main class="app-main mdl-layout__content">
        <my-player></my-player>
        <my-list></my-list>
    </main>
    <footer>
        <div class="footer-edit">
            <div class="edit-btn edit-put">
                <div>
                    <i class="edit-icon material-icons">add</i>
                </div>
                <span class="edit-title">담기</span>
            </div>
            <div class="edit-btn edit-del">
                <div>
                    <i class="edit-icon material-icons">delete</i>
                </div>
                <span class="edit-title">삭제</span>
            </div>
        </div>
    </footer>
</div>