<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{Title}}</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{Title}}</span>
        <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">내 재생목록</a>
        </nav>
    </div>
    <main class="app-main mdl-layout__content">
		<my-player></my-player>
        <my-list></my-list>
	</main>
</div>