<div class="play-list" [ngClass]="{'full': IS_SEARCH || IS_FULL}">
    <ul class="music-list">
        <li *ngFor="let v of MUSIC">
            <div class="music-content">
                <div>
                    <img class="thumb" [src]="v.THUMBNAIL.url">
                </div>
                <div class="music-info">
                    <div class="music-title">{{v.TITLE}}</div>
                    <div class="music-sub">{{v.CHANNEL}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>