.app-main {
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

/*
PlayList
*/
.play-list {
    overflow: auto;
    height: 50%;
}

.play-list.full {
    height: 100%;
}

.play-list > .mdl-list {
    margin: 0;
    padding: 0;
}
/*
PlayList End
*/

/*
MDL
*/
.mdl-layout__drawer-button > .material-icons {
    line-height: 48px;
}
/*
MDL END
*/

/*
Search
*/
.search-header {
    padding-left: 16px;
}

.search-field {
    width: calc(100% - 40px);
}

.search-field > .mdl-textfield__input {
    border-bottom-color: rgba(255, 255, 255, .12);
}

.search-field > .mdl-textfield__label::after {
    background-color: #ffffff;
}

.search-field > .mdl-textfield__input, .mdl-textfield__label {
    width: calc(100% - 20px);
    color: #ffffff;
    margin-left: 16px;
    padding-left: 8px;
}

.is-search > .mdl-layout__drawer-button {
    display: none;
}

/*
Search End
*/

/*
Footer
*/
.footer-edit, .footer-play {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
@media screen and (max-width: 1024px){
    .footer-edit, .footer-play {
        height: 56px;
    }
}*/

.edit-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.edit-icon {
    font-size: 30px;
}

/*
Footer - Menu
*/
footer {
    position: absolute;
    bottom: 0;
    width:100%;
    z-index: 11;
    background-color: #ffffff;
}

.footer-menu > .menu-header {
    margin-top: 1em;
}

.menu-title {
    font-size: 18px;
    margin: 0 1em;
}

.menu-list > .mdl-list {
    margin: 0 0 1em 0;
    padding: 0;
}
/*
Footer - Menu End
*/

/* Footer - Play */
.mdl-button--icon.md-18 { width:18px; height: 18px;}
.mdl-button--icon.md-24 { width:24px; height: 24px;}
.mdl-button--icon.md-36 { width:36px; height: 36px;}
.mdl-button--icon.md-48 { width:48px; height: 48px;}
/* Footer - Play End */

/*
Footer End
*/

.material-icons.md-18 { 
    width: 18px;
    line-height: 18px;
    font-size: 18px;
    transform: translate(-9px, -9px);
}
.material-icons.md-24 { 
    width: 24px;
    line-height: 24px;
    font-size: 24px;
    transform: translate(-12px, -12px);
}
.material-icons.md-36 { 
    width: 36px;
    line-height: 36px;
    font-size: 36px;
    transform: translate(-18px, -18px);
}
.material-icons.md-48 { 
    width: 48px;
    line-height: 48px;
    font-size: 48px;
    transform: translate(-24px, -24px);
}