.app-main {
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

.play-list {
    overflow: auto;
    height: 50%;
}

.play-list.full {
    height: 100%;
}

.play-list > .mdl-list {
    margin: 0;
    padding: 0;
}

.footer-edit {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .footer-edit {
        height: 56px;
    }
}

.edit-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.edit-icon {
    font-size: 30px;
}

.mdl-layout__drawer-button > .material-icons {
    line-height: 48px;
}

.search-header {
    padding-left: 16px;
}

.search-field {
    width: calc(100% - 40px);
}

.search-field > .mdl-textfield__input {
    border-bottom-color: rgba(255, 255, 255, .12);
}

.search-field > .mdl-textfield__label::after {
    background-color: #ffffff;
}

.search-field > .mdl-textfield__input, .mdl-textfield__label {
    width: calc(100% - 20px);
    color: #ffffff;
    margin-left: 16px;
    padding-left: 8px;
}

.is-search > .mdl-layout__drawer-button {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width:100%;
    z-index: 11;
    background-color: #ffffff;
}

.footer-menu > .menu-header {
    margin-top: 1em;
}

.menu-list > .mdl-list {
    margin: 0 0 1em 0;
    padding: 0;
}